.image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.icon-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1070; /* Higher than the modal's z-index */
  background: rgba(0, 0, 0, 0.5);
}

.preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.preview-content {
  position: relative;
  z-index: 1051;
  background: white;
  padding: 23px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-close {
  position: absolute;
  top: -5px;
  right: 3px;
  background: transparent;
  border: none;
  font-size: 18px;
  /* margin-top: -15px;
  margin-right: -10px; */
}

.preview-image {
  max-width: 600px;
  max-height: 600px;
}
